#carrou{
    width: 50%;
    margin: auto 20%;
    position: absolute;
}
#carrou:hover{
    box-shadow:2px 2px 4px black;
    transform:scale(1.05);
    opacity: 0.9
}
.buscar{
   margin-right: 4px;
}
